body{
    margin: 0%;
    font-family: sans-serif;
}
main {
    width: 60%;
    margin: 0 auto;
    box-shadow:  10px 0px 20px rgba(0, 0, 0, 0.292), -10px 0px 20px rgba(0, 0, 0, 0.292);
}
/* barre de navigation  */
.navbar{
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.youcomm{
    padding-left: 10px;
    width: 16vw;
}
nav{
    width: 60%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0%;
}
a{
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 5vw;
}
li img{
    padding-bottom: 4px;
    height: 3vw;
}
/* fin de barre de navigation  */
/* section banner  */
.banner img{
    width: 100%;
}
/* section banner finish  */
/* section 3  */
.logo_paragraphes{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.logo_paragraphes img{
    width: 30%;
    height: 30%;
    margin-top: 3vh;
}
.logo_paragraphes div:last-of-type{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.logo_paragraphes p{
    margin: 8px 0;
    font-size: 12px;
}
/* section 3 fin  */
/* section 4  */
.titre_section_4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_4{
    color: white;
    background-color: #334d5c;
    padding: 30px 0;
}
.titre_section_4 img{
    margin-left: 7vw;
    width: 16%;
    height: 16%;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
.titre_section_4 div:last-of-type{
    width: 50%;
}
.trio_images{
    display: flex;
    justify-content: space-around;
}
.trio_images div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trio_images img{
    width: 80%;
}
.trio_images button{
    width: 100%;
    color: #334d5c;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}